@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Noto+Serif+Tamil:wght@500&family=Roboto+Mono:wght@400;500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto Mono', monospace;
  background-color: #F5F5F2;
}

h2 {
  word-spacing: -.5rem;
}

.nav {
  font-family: Arial, Helvetica, sans-serif;
  height: 80px;
  background-color: #FFF;
  color: black;
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav__container {
  display: flex;
  height: 100%;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  line-height: 100%;
}

.nav__label,
.nav__input {
  display: none;
}

.nav__menu {
  display: grid;
  grid-auto-flow: column;
  gap: 2em;
}
.nav__item {
  color: black;
  font-size: .9rem;
  padding: 1rem 0;
  letter-spacing: 1px;
  text-decoration: none;
  --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

.nav__item:hover {
  --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.nav__item::after {
  content: "";
  display: block;
  background-color: #000000;
  width: 90%;
  margin-top: 3px;
  height: 3px;
  clip-path: var(--clippy);
  transition: clip-path .3s;
}

.nav__item_img {
  display: flex;
  align-items: center;
}

.nav__item_img>img:hover {
  box-shadow: inset 0 0 2px 5px #00C46D;
  border-radius: 50%;
}

.company {
  background-image: url('../img/doctora-micro.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-position-x: left;
  background-color: #B9B6A7;
  border-radius: 0 0 0 5rem;
  height: 512px;
}

.company__text {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 80%;
  margin: 0 auto;
}

.company__text_right {
  width: 60%;
  font-size: 1.3rem;
}

.company__text_right>h2 {
  margin-bottom: 2rem;
  /* letter-spacing: .1rem; */
  /* line-height: 2rem; */
}

.exportation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 80%;
  margin: 0 auto;
  padding: 8rem 0;
}

.exportation__container {
  display: flex;
  width: 80%;
  margin: 0 auto;
}

.exportation__img {
  margin-right: 3rem;
}

.exportation__text>h4 {
  margin-bottom: 2rem;
}

.exportation__text>h2 {
  font-size: 2rem;
}

.exportation__text>p {
  font-size: 1rem;
  margin: 2rem 0;
  line-height: 2rem;
}
.exportation__text>a {
  text-decoration: none;
  background-color: #000;
  color: white;
  padding: 1rem 3rem;
}

.export__respect {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 5rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  padding: 20px;
  color: white;
  width: 28%;
  height: 300px;
}

.card>h2 {
  margin-bottom: 2rem;
  font-size: 1rem;
}

.card>p {
    font-size: .9rem;
}

.card.animals {
  background-color: #0E1A79;
}
.card.ecosystem {
  background-color: #848EBB;
}

.card.people {
  background-color: #171839;
}

.contact {
  width: 100%;
  background-color: white;
}

.contact__container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 3rem 0 5rem 0;
  width: 80%;
  background-color: #fff;
}

.contact__img>h2 {
  margin-bottom: 2rem;
}

.contact__img>iframe {
  border-radius: 20px;
}

.form> h2 {
  margin-bottom: 1.5rem;
}

.form__container{
  display: flex;
  flex-direction: column;
}

.form__container input {
  height: 40px;
  width: 300px;
  border-radius: 5px;
  padding: 1rem;
  margin: .5rem 0;
  outline: none;
  border: none;
  background-color: #F5F5F2;
}

.form__container input:last-child{
  line-height: 0px;
  background-color: black;
  color: white;
  cursor: pointer;
  margin-bottom: 2rem;
}

.form__container textarea {
  height: 95px;
  width: 300px;
  border-radius: 5px;
  text-align: start;
  padding-left: 1rem;
  padding-top: 1rem;
  background-color: #F5F5F2;
}

.info {
  display: flex;
  align-items: center;
  margin: 2rem 0;
}

.info__text {
  display: flex;
  flex-direction: column;
}

.phone {
  width: 30px;
  margin-right: 1rem;
}

.mail {
  width: 30px;
  margin-right: 1rem;
}

.footer {
  width: 100%;
  background-color: white;
  border-top: 3px solid #F5F5F2;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  padding: 20px 0px;
  background-color: white;
}


.footer__container>div {
  display: flex;
}

.footer__container>div>a {
  text-decoration: none;
  color: #000;
  margin-left: 3rem;
  display: flex;
  align-items: center;
}

.footer__container>div>a img {
  margin-right: 1rem;
}

.logo_mobile {
  display: none;
}

.logo_desktop {
  display: block;
}


@media (max-width: 768px) {
  .nav__label {
    display: block;
    cursor: pointer;
  }

  .nav__menu {
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    gap: .5em;
    top: 80px;
    bottom: 0;
    width: 50%;
    right: -100%;
    background-color: rgb(38, 70, 138);
    transition: right 0.8s ease-in-out;
  }

  .nav__input:checked~.nav__menu {
    right: 0;
  }

  .nav__menu a {
    color: white;
    padding: 1rem;
    text-align: start;
    width: 100%;
    transition: background-color .3s;
  }

  .company {
    margin-top: 0rem;
    background-size: auto;
  }

  .company__text_right {
    width: 100%;
    font-size: 1.1rem;
  }

  .exportation {
    padding: 4rem 0;
  }

  .exportation__container {
    flex-direction: column;
  }

  .card {
    width: 33%;
    justify-content: stretch;
  }

  .contact__container {
    flex-direction: column;
  }

  .contact__img>h2 {
    font-size: 1.5rem;
  }

  .contact__img>iframe {
    width: 100%;
    height: 400px;
    margin-bottom: 2rem;
  }

  .form__container input {
    height: 3rem;
    width: auto;
  }

  .form__container textarea {
    height: 150px;
    width: auto;
  }

  .logo_mobile {
    display: none;
  }

}

@media (max-width: 476px) {
  .nav__menu {
    width: 70%;
  }

  .company {
    background-position-x: -70px;
    background-position-y: -95px;
    border-radius: 0 0 5rem 5rem;
    margin-top: -5rem;
  }

  .company__text {
    position: relative;
    top: 28rem;
  }

  .company__text_right {
    width: 100%;
    font-size: 1.1rem;
  }

  .exportation {
    width: 100%;
    flex-direction: column;
    padding: 3rem 0 5rem 0;
  }

  .exportation__container {
    flex-direction: column;
    margin-top: 21rem;
  }

  .exportation__img>img {
    width: 100%;
    margin-bottom: 3rem;
  }

  .exportation__text>h2 {
    font-size: 1.5rem;
  }

  .export__respect {
    flex-direction: column;
  }

  .card {
    width: 100%;
    height: 250px;
    margin-bottom: 2rem;
  }

  .contact__container {
    flex-direction: column;
  }

  .contact__img>iframe {
    width: 100%;
    height: 300px;
    margin-bottom: 2rem;
  }

  .footer__container {
    align-items: center;
  }

  .footer__container>div {
    flex-direction: column;
    margin-right: 0rem;
  }

  .footer__container>div>a {
    margin: .5rem 0;
  }

  .logo_desktop{
    display: none;
  }

  .logo_mobile {
    display: block;
  }
}

@media (max-width: 410px) {
  .info__text {
    font-size: .8rem;
  }

  .footer__container>div>a:first-child {
    margin-right: .3rem;
  }

  .footer__container>div>a img {
    margin-right: 0.3rem;
    height: 20px;
  }
}

@media (min-width: 319px) and (max-width: 375px) {
  .footer__container>div>a:first-child {
    margin-right: .3rem;
  }

  .footer__container>div>a img {
    margin-right: 0.1rem;
    height: 18px;
  }
}