@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Noto+Serif+Tamil:wght@500&family=Roboto+Mono:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto Mono', monospace;
  background-color: #F5F5F2;
}

.nav {
  font-family: Arial, Helvetica, sans-serif;
  height: 80px;
  background-color: #FFF;
  color: black;
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav__container {
  display: flex;
  height: 100%;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  line-height: 100%;
}

.nav__label,
.nav__input {
  display: none;
}

.nav__menu {
  display: grid;
  grid-auto-flow: column;
  gap: 2em;
}

.nav__item {
  color: black;
  font-size: .9rem;
  padding: 1rem 0;
  letter-spacing: 1px;
  text-decoration: none;
  --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

.nav__item:hover {
  --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.nav__item::after {
  content: "";
  display: block;
  background-color: #000000;
  width: 90%;
  margin-top: 3px;
  height: 3px;
  clip-path: var(--clippy);
  transition: clip-path .3s;
}

.nav__item_img {
  display: flex;
  align-items: center;
}

.nav__item_img>img:hover {
  box-shadow: inset 0 0 2px 5px #00C46D;
  border-radius: 50%;
}

.company {
  background-image: url('../img/tarro.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-position-x: left;
  background-color: #B9B6A7;
  border-radius: 0 0 0 5rem;
  height: 512px;
}

.company__text {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 80%;
  margin: 0 auto;
}

.company__text_right {
  width: 60%;
  font-size: 1.3rem;
}

.company__text_right>h2 {
  margin-bottom: 2rem;
  letter-spacing: .1rem;
}

.exportation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 80%;
  margin: 0 auto;
  padding: 8rem 0;
}

.exportation__container {
  display: flex;
  width: 80%;
  margin: 0 auto;
}

.exportation__img {
  background-color: black;
  margin-right: 2rem;
  width: 700px;
  border-radius: 50%;
}

.exportation__text>h4 {
  margin-bottom: 2rem;
}

.exportation__text>h2 {
  font-size: 2rem;
  letter-spacing: 0.1rem;
}

.exportation__text>p {
  font-size: 1.3rem;
  margin: 2rem 0;
}

.export__respect {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 5rem auto;
  display: flex;
  justify-content: space-between;
}

.export__respect_title {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.export__respect_title>p {
  margin: 3rem 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  border-radius: 20px;
  padding: 20px;
  padding-top: 50px;
  color: white;
  width: 28%;
  height: 300px;
}

.card>h2 {
  margin-bottom: 2rem;
  font-size: 1rem;
}

.card>p {
  font-size: 0.9rem;
}

.card.animals {
  background-color: #0E1A79;
}

.card.ecosystem {
  background-color: #848EBB;
}

.card.people {
  background-color: #171839;
}

.services {
  background: #fff;
  width: 100%;
}

.service__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  padding: 6rem 0;
}

.faq__ul {
  width: 50%;
  padding: 0;
}
.faq__ul>h2 {
  margin-bottom: 3rem;
}

.faq__ul li {
  list-style: none;
  margin: 0 0 8px;
}

.faq__ul .faq__question {
  border: 0;
  font-weight: 400;
  font-size: 26px;
  margin-bottom: 1px;
  padding: 0.8em 0em 0.8em 0em;
  position: relative;
  color: black;
  border-bottom: 1px solid black;
}

.faq__question {
  display: block;
  text-align: left;
  cursor: pointer;
}

.faq__question__title {
  color: #0E1A79;
}

.faq__question svg {
  fill: #fff;
  height: 1em;
  position: absolute;
  right: 1em;
  top: 35%;
  width: 1em;
  transform: rotate(45deg);
  transition: all 0.2s ease;
}

.faq__questions {
  display: block;
}

.faq__answer {
  padding: 0rem 0rem;
  text-align: start;
  max-height: 0;
  overflow: hidden;
  transition: all 0.2s ease;
}

.faq__questions input[type="checkbox"] {
  display: none;
}

.faq__questions input[type="checkbox"]:checked~.faq__answer {
  max-height: 600px;
  padding: 1rem 0;
}

.faq__questions input[type="checkbox"]:checked~.faq__question svg {
  transform: rotate(0deg);
}

.products {
  width: 100%;
  height: 600px;
}

.products__container {
  display: flex;
}

.carousel {
  width: 50%;
  height: 600px;
  overflow: hidden;
  position: relative;
}

.carousel img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-color: #FFF;
  transition: transform 0.5s ease;
}

.carousel button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 5px 10px;
  border: none;
  background: #ffffff;
  font-size: 3rem;
  color: #bcbcbc;
  cursor: pointer;
}

.carousel button:hover {
  color: #555555;
}

#prevBtn {
  left: 10px;
}

#nextBtn {
  right: 10px;
}

.procducts__description {
  width: 50%;
  background-color: #0E1A79;
  padding: 4rem 4rem;
  color: #FFF;
}

.procducts__description>h2 {
  margin-bottom: 2rem;
}

.procducts__ul>li {
  list-style: none;
  margin-bottom: 5px;
}

.contact {
  width: 100%;
  background-color: white;
}

.contact__container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 3rem 0 5rem 0;
  width: 80%;
  background-color: #fff;
}

.contact__img>h2 {
  margin-bottom: 2rem;
}

.contact__img>iframe {
  border-radius: 20px;
}

.form>h2 {
  margin-bottom: 1.5rem;
}

.form__container {
  display: flex;
  flex-direction: column;
}

.form__container input {
  height: 40px;
  width: 300px;
  border-radius: 5px;
  padding: 1rem;
  margin: .5rem 0;
  outline: none;
  border: none;
  background-color: #F5F5F2;
}

.form__container input:last-child {
  line-height: 0px;
  background-color: black;
  color: white;
  cursor: pointer;
  margin-bottom: 2rem;
}

.form__container textarea {
  height: 95px;
  width: 300px;
  border-radius: 5px;
  text-align: start;
  padding-left: 1rem;
  padding-top: 1rem;
  background-color: #F5F5F2;
}

.info {
  display: flex;
  align-items: center;
  margin: 2rem 0;
}

.info__text {
  display: flex;
  flex-direction: column;
}

.phone {
  width: 30px;
  margin-right: 1rem;
}

.mail {
  width: 30px;
  margin-right: 1rem;
}

.footer {
  width: 100%;
  background-color: white;
  border-top: 3px solid #F5F5F2;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  padding: 20px 0px;
  background-color: white;
}


.footer__container>div {
  display: flex;
}


.footer__container>div>a {
  text-decoration: none;
  color: #000;
  margin-left: 3rem;
  display: flex;
  align-items: center;
}

.footer__container>div>a img {
  margin-right: 1rem;
}

.logo_mobile {
  display: none;
}

@media (max-width: 768px) {
  .nav__label {
    display: block;
    cursor: pointer;
  }

  .nav__menu {
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    gap: .5em;
    top: 80px;
    bottom: 0;
    width: 50%;
    right: -100%;
    background-color: rgb(38, 70, 138);
    transition: right 0.8s ease-in-out;
  }

  .nav__input:checked~.nav__menu {
    right: 0;
  }

  .nav__menu a {
    color: white;
    padding: 1rem;
    text-align: start;
    width: 100%;
    transition: background-color .3s;
  }

  .perfumery__img>.img__hero {
    width: 100%;
  }

  .perfumery__text {
    padding-left: 0rem;
    width: 500px;
    padding-top: 32rem;
  }

  .company {
    display: flex;
    flex-direction: column;
    margin-top: 0rem;
  }

  .perfumery__img {
    padding-top: 3rem;
  }

  .manufacturing__container {
    flex-direction: column;
  }

  .manufacturing__container>div {
    min-width: 600px;
    padding-top: 3rem;
  }

  .manufacturing__list {
    width: 100%;
  }

  .manufacturing__list>li {
    width: 100%;
  }

  .card {
    width: 33%;
    justify-content: stretch;
  }

  .service__container {
    width: 100%;
    flex-direction: column;
  }

  .products__container {
    flex-direction: column-reverse;
  }

  .products__container .carousel {
    width: 100%;
  }

  .procducts__description {
    width: 100%;
  }

  .contact {
    padding-top: 35rem;
  }

  .contact__container {
    flex-direction: column;
  }

  .contact__img>h2 {
    font-size: 1.5rem;
  }

  .contact__img>iframe {
    width: 100%;
    height: 400px;
    margin-bottom: 2rem;
  }

  .form__container input {
    height: 3rem;
    width: auto;
  }

  .form__container textarea {
    height: 150px;
    width: auto;
  }

  .logo_mobile {
    display: none;
  }

}

@media (max-width: 476px) {
  .nav__menu {
    width: 70%;
  }

  .company{
    background-position-x: -480px;
    background-image: url('../img/tarro.png');
  }

  .company__text{
    justify-content: flex-start;
    color: #000000;
  }

  .company__text_right {
    width: 100%;
    font-size: 1.1rem;
  }

  .export__respect {
    flex-direction: column;
  }

  .export__respect_title>p {
    margin: 2rem 0;
  }

  .card {
    width: 100%;
    height: 250px;
    margin-bottom: 2rem;
  }

  .service__container{
    width: 100%;
    flex-direction: column;
  }

  .faq__ul{
    width: 80%;
  }

  .service__img>img{
    width: 320px;
  }

  .products {
    height: 400px;
  }

  .products__container {
    display: flex;
    flex-direction: column-reverse;
  }

  .carousel {
    width: 100%;
    height: 400px;
  }

  .procducts__description {
    width: 100%;
    padding: 4rem 3rem;
  }

  .procducts__description>h2 {
    font-size: 1.1rem;
  }

  .contact {
    padding-top: 40rem;
  }

  .contact__container {
    flex-direction: column;
  }

  .contact__img>iframe {
    width: 100%;
    height: 300px;
    margin-bottom: 2rem;
  }

  .footer__container {
    align-items: center;
  }

  .footer__container>div {
    margin-bottom: 0rem;
  }

  .footer__container>div>a {
    margin-left: 0px;
  }

  .footer__container>div>a:first-child {
    margin-right: 1rem;
    margin-left: 0px;
  }

  .logo_desktop {
    display: none;
  }

  .logo_mobile {
    display: block;
  }
}

@media (max-width: 376px) {
  .contact {
    padding-top: 45rem;
  }

  .info__text {
    font-size: .8rem;
  }

  .footer__container>div>a:first-child {
    margin-right: .3rem;
  }

  .footer__container>div>a img {
    margin-right: 0.3rem;
    height: 20px;
  }
}